extends base 

block content 

    main.main
        if reviews.length
            div.card-container
                each review in reviews
                    .reviews__card.reviews__card__full
                        .reviews__avatar
                            h6.reviews__user= review.tour.name
                        p.reviews__text= review.review
                        .reviews__rating
                            each star in [1, 2, 3, 4, 5]
                                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                                    use(xlink:href='/img/icons.svg#icon-star')
        else
            h2.heading-secondary.text-center.ma-bt-lg.ma-t-lg You haven't left any reviews yet.
            a.btn.btn--green.btn--small.btn--center(href='/') Back To Overview